
html, body, #map {
	height: 100%;
	margin: 0px;
}

#map {
	height: 100%;
	width: 100%;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

.menuPanel {
	width: 100%;
	background: #FFFFFF;
	border: 0px;
	border-radius: 0px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	display: flex;
	vertical-align: middle;
}

.playersPanel {
	background: #FFFFFF;
	border: 0px solid #555555;
	border-radius: 0px;
	margin: 0px;
	padding: 3px 2px 3px 2px;
	vertical-align: middle;
}

.messagePanel {
	background: #FFFFFF;
	flex-grow: 1;
	vertical-align: middle;
}

.buttonPanel {
	background: #FFFFFF;
	border: 0px solid #555555;
	border-radius: 0px;
	margin: 0px;
	padding: 0px 0px 0px 0px;	
}

.playerButtonNotStarted {
	background: #FFFFFF;
	border: 2px solid;
	border-radius: 5px;
	font-size: 16px;
	font-family: Roboto, Arial, sans-serif;
	padding: 3px 5px 3px 5px;
	margin: 0px 4px 0px 4px;
	float: left;
	cursor: default;
}

.playerButtonIamNotStarted {
	background: #FFFFFF;
	border: 2px solid;
	border-radius: 5px;
	font-size: 16px;
	font-family: Roboto, Arial, sans-serif;
	padding: 3px 5px 3px 5px;
	margin: 0px 4px 0px 4px;
	float: left;
	cursor: default;
}

.playerButtonInactive {
	background: #FFFFFF;
	border: 2px solid;
	border-radius: 5px;
	font-size: 14px;
	font-family: Roboto, Arial, sans-serif;
	padding: 4px 8px 4px 8px;
	margin: 4px 4px 1px 4px;
	float: left;
	cursor: default;
}

.playerButtonIamActive {
	background: #FFFFFF;
	border: 4px solid;
	border-radius: 5px;
	font-size: 18px;
	font-family: Roboto, Arial, sans-serif;
	padding: 3px 8px 3px 8px;
	margin: 0px 4px 0px 4px;
	float: left;
	cursor: default;
}

.playerButtonActive {
	background: #FFFFFF;
	border: 4px solid;
	border-radius: 5px;
	font-size: 18px;
	font-family: Roboto, Arial, sans-serif;
	padding: 3px 8px 3px 8px;
	margin: 0px 4px 0px 4px;
	float: left;
	cursor: default;
}

.playerButtonIamInactive {
	background: #FFFFFF;
	border: 2px solid;
	border-radius: 5px;
	font-size: 14px;
	font-family: Roboto, Arial, sans-serif;
	padding: 4px 8px 4px 8px;
	margin: 5px 4px 1px 4px;
	float: left;
	cursor: default;
}

.message {
	background: #FFFFFF;
	color: #555555;
	text-align: center;
	vertical-align: middle;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-family: Roboto, Arial, sans-serif;
	padding: 0px 5px 0px 5px;
	margin: 5px 4px 1px 4px;
	width: auto;
	overflow: auto;
}

.round {
	background: #FFFFFF;
	color: #555555;
	text-align: center;
	vertical-align: middle;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-family: Roboto, Arial, sans-serif;
	padding: 4px 5px 0px 5px;
	margin: 5px 4px 1px 4px;
	width: auto;
	overflow: auto;
}

.buttonStart {
	font-size: 16px;
	color: #000000;
	background: #FFFFFF;
	font-size: 16px;
	font-family: Roboto, Arial, sans-serif;
	cursor: pointer;
	border: 0px;
	border-radius: 5px;
	float: left;
	padding: 6px 10px 6px 10px;
	margin: 3px 5px 3px 5px;
	transition: 0.3s;
	visibility: visible;
}
.buttonStart:hover {
	background: #FFA0A0;
}
@keyframes glowing { 
	0% { box-shadow: 0 0 2px #777777; }
	50% { box-shadow: 0 0 5px #555555; }
	100% { box-shadow: 0 0 2px #777777; }
}
.buttonStart {
	animation: glowing 1500ms infinite;
}

.buttonInfo
{
	font-size: 16px;
	color: #000000;
	background: #FFFFFF;
	font-size: 16px;
	font-family: Roboto, Arial, sans-serif;
	cursor: pointer;
	border: 0px;
	border-radius: 5px;
	float: left;
	padding: 6px 10px 6px 10px;
	margin: 3px 5px 3px 5px;
	transition: 0.3s;
	visibility: visible;
	box-shadow: 0 0 2px #555555;
}
.buttonInfo:hover {
	background: #EEEEEE;
}

.buttonInfoInactive
{
	font-size: 16px;
	color: #CCCCCC;
	background: #FFFFFF;
	font-size: 16px;
	font-family: Roboto, Arial, sans-serif;
	cursor: default;
	border: 0px;
	border-radius: 5px;
	float: left;
	padding: 6px 10px 6px 10px;
	margin: 3px 5px 3px 5px;
	transition: 0.3s;
	visibility: visible;
	box-shadow: 0 0 2px #555555;
}


.buttonRedeemActive
{
	font-size: 16px;
	color: #000000;
	background: #FFFFFF;
	font-size: 16px;
	font-family: Roboto, Arial, sans-serif;
	cursor: pointer;
	border: 0px;
	border-radius: 5px;
	float: left;
	padding: 6px 10px 6px 10px;
	margin: 3px 5px 3px 5px;
	transition: 0.3s;
	visibility: visible;
	box-shadow: 0 0 2px #555555;
}
.buttonRedeemActive:hover {
	background: #EEEEEE;
}
@keyframes blinking_red { 
	0% { box-shadow: 0 0 2px #555555; }
	50% { box-shadow: 0 0 10px #000000; }
	100% { box-shadow: 0 0 2px #555555; }
}
.buttonRedeemActive {
	animation: blinking_red 1200ms infinite;
}

.buttonRedeemInactive
{
	font-size: 16px;
	color: #CCCCCC;
	background: #FFFFFF;
	font-size: 16px;
	font-family: Roboto, Arial, sans-serif;
	cursor: default;
	border: 0px;
	border-radius: 5px;
	float: left;
	padding: 6px 10px 6px 10px;
	margin: 3px 5px 3px 5px;
	transition: 0.3s;
	visibility: visible;
	box-shadow: 0 0 2px #555555;
}


.buttonActionDisabled {
	font-size: 16px;
	color: #CCCCCC;
	background: #FFFFFF;
	box-shadow: 0 0 2px #AAAAAA;
	font-size: 16px;
	font-family: Roboto, Arial, sans-serif;
	border: 0px;
	border-radius: 3px;
	float: left;
	padding: 6px 10px 6px 10px;
	margin: 3px 5px 3px 5px;
	cursor: default;
	visibility: visible;
}

.canvasReserve {
	background: #EEEEEEFF;
	border: 2px solid #777777;
	border-radius: 3px;
}
@keyframes blinking { 
	0% { box-shadow: 0 0 6px #777777; }
	50% { box-shadow: 0 0 16px #000000; }
	100% { box-shadow: 0 0 6px #777777; }
}
.canvasReserve {
	animation: blinking 1200ms infinite;
}

.textOverlay {
	height: 80%;
	width: 60%;
	margin: 50px;
	margin-left: 60px;
	margin-top: 60px;
	padding: 20px;
	background: #EEEEEEE0;
	border: 2px solid #999999FF;
	border-radius: 10px;
	visibility: visible;
}


		.overlay {
		  position: fixed;
		  width: 100%;
		  height: 100%;
		  left: 0;
		  top: 0;
		  text-align: center;
		  overflow: visible;
		  background:none;
		  background-color: #00000080;
		  margin: 0px;
		  padding: 0px;
		  border: none;
      z-index: 2;
      display: none;
		}

		.div-overlay-panel {
  		border: 0px solid;
  		border-radius: 10px;
  		padding: 20px;
  		box-shadow: 5px 5px 3px #888888;
		  background-color: #BBBBBBFF;
 		  text-align: center;
		  left: 50%;
		  top: 50%;
		  margin-left:-250px;
			max-width: 500px;
			width: 80%;
			position: relative;
    	top: 30%;
		}
		.div-overlay-panel:after {
		  content: "";
		  display: table;
		  clear: both;
		}
		
		
.winnerOverlay {
	height: 20%;
	width: 70%;
	min-height: 300px;
	max-width: 700px;
	margin-left: 10%;
	margin-top: 200px;
	padding: 20px;
	background: #EEEEEEE0;
	border: 2px solid #999999FF;
	border-radius: 10px;
	visibility: visible;
}

.winnerText {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background: #FFFFFF00;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	font-family: Roboto, Arial, sans-serif;
	overflow-y: scroll;
}

.overlayText {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background: #FFFFFF00;
	text-align: left;
	vertical-align: middle;
	font-size: 14px;
	font-family: Roboto, Arial, sans-serif;
	overflow-y: scroll;
}


.close {
	background: #FFFFFF00;
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}


.contextMenuPane {
  margin: 0px;
  padding: 0px 0px 0px;
	visibility: visible;
	display: block;
	background: #FFFFFF;
}

.contextMenuList {
  margin: 0px;
/*   padding: 0px 0px 0px; */
	padding: 0px;
	visibility: visible;
	display: block;
}

.contextMenuEntry {
	cursor: pointer;
	position: relative;
/* 	padding: 12px 8px 12px 40px; */
	padding: 3px 7px;
	margin: 10px;
	list-style-type: none;
	background: #FFFFFF;
	font-size: 13px;
	transition: 0.2s;
	
	box-shadow: 0 0 2px #555555;
	border: 0px;
	border-radius: 5px;
}

li:hover {
	background: #EEEEEE;
}

